* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
}

body {
    background-image: radial-gradient(circle,#dc3123, #d3cfcf, #95150a);
    overflow: scroll;
}

/* Top nav start */

.top-nav {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.top-nav>a {
    text-decoration: none;
}
h1 {
    color: darkred;
    font-size: 50px;
}
.top-nav-content {
    font-size: 20px;
}
.top-nav-content>a {
    text-decoration: none;
    color: white;
    padding-left: 40px;
}

/* Top nav end */


/* Main start */
h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    color: white;
}
.main {
    /* border: 5px solid black; */
    width: 1200px;
    margin: 0 auto;
}
.img1>img {
    width: 800px;
    height: 500px;
    margin-left: 200px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
form>button {
    background-color:darkred;
    color: white;
    padding: 5px;
}

/* Main End */